{% extends "layout.njk" %}

{% block head %}
    <script src="/scripts/ScriptsScroll.js" defer="defer"></script>
{% endblock head %}

{% block content %}
    <div class="modal-overlay">
        <div class="modal">

            <div class="project">
                <h3>FoodFy</h3>
                <p class="subtitle">Loja de restaurante online</p>

                <div class="project-container">
                    <div class="project-image">
                        <img src="/images/foodfy1.png" alt="">
                    </div>
                </div>

                <div class="description-container">
                    <p class="description">Este trabalho foi uma forma de colocar em prática o que venho aprendendo, fazendo um projeto existente de uma rede de restaurantes FoodFy.</p>
                </div>

                <div class="repository-link">
                    <a href="https://github.com/FabricioCosati/FoodFy_Restaurant" target="_blank">Repositório no github</a>
                </div>

                <div class="button-container">
                    <button class="button fechar" onclick="Modal.init('closeModal', event)">Fechar</button>
                </div>
            </div>

            <div class="project">
                <h3>Ecommerce</h3>
                <p class="subtitle">Loja Ecommerce online</p>

                <div class="project-container">
                    <div class="project-image">
                        <img src="/images/ecommerce3.png" alt="">
                    </div>
                </div>

                <div class="description-container">
                    <p class="description">Neste trabalho aprendi a como trabalhar com Express Session junto com um banco de dados, é um projeto existente de uma loja virtual Ecommerce.</p>
                </div>

                <div class="repository-link">
                    <a href="https://github.com/FabricioCosati/ecommerce_rocketseat" target="_blank">Repositório no github</a>
                </div>
                <div class="button-container">
                    <button class="button fechar" onclick="Modal.init('closeModal', event)">Fechar</button>
                </div>

            </div>

        </div>
    </div>

    <div class="container home">
        <div class="main-image" id="info">
            <div class="image-container" style="background-image: url('images/main-image.jpg')">
                <div class="main-image-text">
                    <h2>Seja Bem Vindo ao meu Portfolio!</h2>
                    <button class="button" onclick="Scroll.scrollAbout()">Sobre Mim</button>
                </div>
            </div>
        </div>

        <div class="info-container" id="info1">

            <div class="about">
                <div class="about-text">
                    <h1>Sobre mim</h1>
                    <h2>Sou um iniciante apaixonado pela tecnologia e pelo mundo da programação</h2>
                    <p>Olá! Meu nome é Fabrício Cosati, sou de Belo Horizonte, Minas Gerais e eu gosto de desenvolver pequenos projetos para implementar o que eu vou aprendendo, seja sobre o back-end ou front-end. Quando não estou programando, eu devo estar jogando, assistindo séries ou vendo programas culinários.</p>
                </div>
            </div>
        </div>

        <div class="info-container" id="info2">
            <div class="curriculum">
                <h2>Conhecimentos</h2>
                <div class="knowledge">
                    <ul>
                        <li><img src="/images/java-icon.svg" alt="">Java</li>
                        <li><img src="/images/javascript-icon.svg" alt="">JavaScript</li>
                        <li><img src="/images/html5-icon.svg" alt="">HTML5</li>
                        <li><img src="/images/css3-icon.svg" alt="">CSS3</li>
                        <li><img src="/images/nodejs-icon.svg" alt="">Node.Js</li>
                        <li><img src="/images/postgresql-icon.svg" alt="">PostgreSQL</li>
                        <li><img src="/images/mysql.svg" alt="">MySQL</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="info-container" id="info3">
            <h2>Projetos</h2>

            <div class="projects">
                <div class="project-view">

                    <div class="project-wrapper" onclick="Modal.init('openModal', event)">
                        <div>
                            <i class="material-icons">
                                visibility
                            </i>
                        </div>
                        <img src="images/foodfy1.png" alt="">
                    </div>

                    <div class="project-wrapper" onclick="Modal.init('openModal', event)">
                        <div>
                            <i class="material-icons">
                                visibility
                            </i>
                        </div>
                        <img src="images/ecommerce3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}