.container.home {
    width: 100vw;
    max-width: 100%;

    margin: auto 0;

    overflow-x: hidden;
}

.info-container {
    width: 90vw;
    max-width: 56.25rem;
    
    margin: auto;
    padding-top: 2rem;
    margin-bottom: 4rem;

    border-top: 1px solid #c2c2c2;
}

.info-container:nth-child(2) {
    padding-top: 4rem;

    border-top: none;
}

.main-image {
    width: 100%;
    height: 95vh;
}

.main-image .image-container {
    /* padding-top: 45vh;
    padding-bottom: 45vh; */

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-image .image-container::before {
    content: "";

    position: absolute;

    width : 100%;

    padding-top: 48vh;
    padding-bottom: 48vh;

    background: inherit;

    z-index: -1;

    filter: brightness(.5)
}

.image-container .main-image-text {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;

    text-align: center;

}

.image-container .main-image-text h2 {
    font-size: 2.8rem;
    
    margin-bottom: 5rem;
}

.image-container .main-image-text button {
    background-color: #424242;
}

.image-container .main-image-text button:hover {
    background-color: #232323;
}

/* === ABOUT === */

.about .about-text h1 {
    font-size: 5rem;
    color: #ebebeb;

    margin-bottom: 1rem;
}

.about .about-text h2 {
    font-weight: 300;
    color: #b3b3b3;

    line-height: 2rem;
}

.about .about-text p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #ebebeb;

    line-height: 1.8rem;
    margin-bottom: 3rem;
}

/* === CURRICULUM === */

.curriculum h2 {
    color: #ebebeb;
}

.curriculum .knowledge {
    color: #b3b3b3;
}

.curriculum .knowledge ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.5rem;
}

.curriculum .knowledge ul li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

    font-size: 1.2rem;
    margin-bottom: 1rem;

    transition: all .3s;

    cursor: default;
}

.curriculum .knowledge ul li:hover {
    font-size: 1.4rem;
}

.curriculum .knowledge ul li img {
    width: 2.2rem;
    height: 3rem;
    max-height: 3rem;

    justify-self: center;

    margin-right: 1rem;

    transition: all .3s;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.curriculum .knowledge ul li:hover img {
    width: 2.6rem;

    filter: none;
    -webkit-filter: grayscale(0%);
}

/* === PROJECTS === */

.project-container {
    height: 70vh;

    position: relative;

    margin: auto;
    overflow: hidden;
}

.project-container .project-image {
    width: 100%;
    height: 100%;

    display: flex;
}

.project-container .project-image img {
    width: 100%;
    border-radius: 6px;
}

.project-view {
    padding: 3rem
}

.project-view .project-wrapper {
    margin-bottom: 5rem;

    position: relative;
}

.project-view .project-wrapper > div {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.8);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: all .3s;

    color: #ebebeb;

    cursor: pointer;
}

.project-view .project-wrapper > div i {
    font-size: 5rem;
}

.project-view .project-wrapper:hover > div {
    opacity: 1;
    visibility: visible;
}

.project-view img {
    width: 100%;

    border-radius: .5rem;
}

.project h3 {
    font-size: 1.25rem;
    color: #b3b3b3;
    text-align: center;

    margin: 4rem 0 2rem;
}

.modal-overlay {
    width: 100%;
    height: 100%;

    overflow: auto;

    background-color: rgba(0,0,0,0.6);

    position: fixed;

    z-index: 999;

    padding: 2rem;

    top: -100%;
    visibility: hidden;
    opacity: 0;

    transition: all .3s;
}

.modal {
    width: 70vw;

    background: #2d2d2d;

    border-radius: 6px;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: 0 auto;
    padding: 2rem;
}

.project {
    display: initial
}

.project h3 {
    font-size: 3rem;
    color: #ebebeb;
    text-align: center;
    margin: 0;
}

.project p.subtitle {
    color: #dedede;
    font-size: 1.5rem;
    text-align: center;

    margin: 1.5rem;
}

.project .description-container {
    width: 80%;
    margin: 0 auto;
}

.project p.description {
    color: #dedede;

    margin: 1.5rem 0;
}

.repository-link {
    margin: 1.5rem 0;

    text-align: center;
}

.project a {    
    color: #dedede;

    transition: color .2s;
}

.project a:hover {
    color: #ffffff;
}

.project .button-container {
    text-align: center;
}

.project .button-container button {
    background-color: #424242;
}

.project .button-container button:hover {
    background-color: #777777;
}

/* === RESPONSIVE === */

@media(max-width: 1000px){

    html {
        font-size: 87.50%;
    }

    .contacts .contact-wrapper {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2rem;
    }
    
    footer.links .links-container {
        width: 60%;
    }

    .curriculum .knowledge ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 625px){

    html {
        font-size: 65%;
    }

    .curriculum .knowledge ul {
        grid-template-columns: 1fr 1fr;
    }

    header .container {
        flex-direction: column;
    }

    .container .name {
        margin-bottom: 1rem;
    }

    .container .name a {
        margin-right: 0;
    }

    .container .logout-button {
        margin-top: 1.5rem;
        margin-left: 0;
    }

    .project-view img {
        height: 20rem;
    }
}