/* === GLOBAL === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

    font-size: 1rem;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    overflow: overlay;

    font-family: 'Roboto Slab', sans-serif;

    background-color: #100c1a;

}

body, html {
    min-height: 100vh;
}

h2 {
    color: #ebebeb;
    font-size: 1.8rem;

    margin-bottom: 1.4rem;
}

input {
    width: 100%;

    padding: .5rem 1rem;

    border-radius: 6px;

    outline: none;

    box-shadow: 3px 3px 4px 0px rgb(39 39 39);

    font-size: 1.2rem;
}

input::placeholder {
    font-size: 1.2rem;
}

a {
    cursor: pointer;
}

.container {
    width: 90vw;
    margin: 0 auto;
    max-width: 56.25rem; /* 900 px*/
}

/* === HEADER / FOOTER === */

header, footer {
    width: 100%;

    text-align: center;

    padding: 2rem 0;

    background-color: #1b1a22;

}

#header {
    position: fixed;

    transition: padding .3s;

    z-index: 999;
}

.sticky {
    width: 100%;
    z-index: 999;
    padding: 1rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .name a {
    font-family: 'Handlee', 'Roboto Slab' , sans-serif;
    color: #ebebeb;
    font-size: 1.8rem;

    margin-right: 2rem;
}

.container .name a {
    font-size: 2rem;

    margin-bottom: 0;
}

.container .header-navigation ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
}

.container .header-navigation ul li a,
.container .logout-button {
    color: #acacac; 

    transition: color .25s;
}

.container .logout-button {
    font-family: 'Roboto Slab', sans-serif;

    background: none;

    cursor: pointer;

    margin-left: 2rem;
}

.container .header-navigation ul li a:hover,
.container .logout-button:hover {
    color: white;
}

footer {
    color: #b4b4b4;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5rem 0;
}

.footer-container {
    max-width: 90%;
    margin: 0 auto;
}


.footer-container .contact-container {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
}

.contact-container .contact-card {
    width: 20rem;

    background-color: #191919;

    padding: 2rem;

    border-radius: 6px;
}

footer .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: default;
}

.contact-me .contact-image {
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #4a4a4a;
    border-radius: 50%;

    margin-bottom: .8rem;
}

.contact-me .contact-text {
    width: 100%;
    
    text-align: center;
    font-weight: 300;
}

.contact-me .contact-text p:first-child {
    font-weight: bold;

    padding: .8rem 0;

    border-bottom: 1px solid #b4b4b4;
}

.contact-me .contact-text p:last-child {
    margin: 1.5rem 0 .8rem;
}
