package partials

import "github.com/fabricio-cosati/portfolio/cmd/dto"

templ EmailBody(email dto.Email) {
	<body>
		<h1>Entraram em contato com você através do seu portfolio!</h1>
		<h1>Nome <span>{ email.Name }</span></h1>
		<h1>Email <span>{ email.Email }</span></h1>
		<p>{ email.Message }</p>
	</body>
}
