<footer style="background-image: url(images/dot-map.jpg);">
    <div class="footer-container">

        <div class="contact-container">

            <div class="contact-card">
                <div class="contact-me">
                    <div class="contact-image">
                        <i class="material-icons">phone</i>
                    </div>
                    <div class="contact-text">
                        <p>Telefone</p>
                        <p>Cel: 31 98329-9372</p>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-me">
                    <div class="contact-image">
                        <i class="material-icons">email</i>
                    </div>
                    <div class="contact-text">
                        <p>Email</p>
                        <p>fabricio18cosati@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-me">
                    <div class="contact-image">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="contact-text">
                        <p>Endereço</p>
                        <p>Belo Horizonte, Minas Gerais</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>