{% if session.user %}
    <div class="contact-container" style="background-image: url(images/dot-map.jpg);">
        <div class="contacts">

            <div class="contact-wrapper">

                <div class="contact-card">
                    <div class="contact-me">
                        <div class="contact-image">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="contact-text">
                            <p>Telefone</p>
                            <p>Cel: 31 98329-9372</p>
                        </div>
                    </div>
                </div>

                <div class="contact-card">
                    <div class="contact-me">
                        <div class="contact-image">
                            <i class="material-icons">email</i>
                        </div>
                        <div class="contact-text">
                            <p>Email</p>
                            <p>fabricio18cosati@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="contact-card">
                    <div class="contact-me">
                        <div class="contact-image">
                            <i class="material-icons">home</i>
                        </div>
                        <div class="contact-text">
                            <p>Endereço</p>
                            <p>Belo Horizonte, Minas Gerais</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="links">
        <div class="links-container">
            <a href="https://www.linkedin.com/in/fabrício-cosati-973a69180/" target="_blank"><img src="images/linkedin-icon.png" target="_blank" alt="Logo do Linkedin"></a>
            <a href="https://github.com/FabricioCosati" target="_blank"><img src="images/github-icon.png" " alt="Logo do Github"></a>
        </div>
    </footer>
{% endif %}