{% if session.user %}
    <header id="header">
        <div class="container">

            <div class="name">
                <a onclick="Scroll.scrollTop()">Fabrício Cosati</a>
            </div>

            <nav class="header-navigation">
                <ul>
                    <li>
                        <a onclick="Scroll.scrollAbout()">Sobre</a>
                    </li>
                    <li>
                        <a onclick="Scroll.scrollCurriculum()">Currículo</a>
                    </li>
                    <li>
                        <a onclick="Scroll.scrollProjects()">Projetos</a>
                    </li>
                    <li>
                        <a onclick="Scroll.scrollFooter()">Contato</a>
                    </li>
                </ul>
            </nav>

            <div class="logout">
                <form action="/logout" method="POST">
                    <button class="logout-button" type="submit">Sair</button>
                </form>
            </div>
        </div>
    </header>
{% endif %}