<header id="header">
    <div class="container">

        <div class="name-profession-container">
            <h2>Fabrício Cosati</h2>

            <p>Desenvolvedor Estagiário</p>
        </div>

        <nav class="header-navigation">
            <ul>
                <li>
                    <a onclick="Scroll.scrollProfile()">Perfíl</a>
                </li>
                <li>
                    <a onclick="Scroll.scrollProjects()">Projetos</a>
                </li>
                <li>
                    <a onclick="Scroll.scrollCurriculum()">Currículo</a>
                </li>
                <li>
                    <a onclick="Scroll.scrollFooter()">Contato</a>
                </li>
            </ul>
        </nav>
    </div>
</header>