{% if error or message.error %}
    <div class="messages error">
        {{error or message.error}}
    </div>
{% endif %}

{% if success or message.success %}
    <div class="messages success">
        {{success or message.success}}
    </div>
{% endif %}